# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
*.egg

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Editors / OS
.idea/
.vscode/
.DS_Store

# Jupyter
.ipynb_checkpoints/
